// .banner ====================================================================================================
.banner {
    &:first-child {
        padding-top: rem(8);
    }

    // .banner__container
    &__container {
    }

    // .banner__wrapper
    &__wrapper {
        position: relative;
        @include adaptiveValue("min-height", 600, 400);
        @include adaptiveValue("padding-top", 60, 20);
        @include adaptiveValue("padding-bottom", 60, 20);
        @include adaptiveValue("padding-left", 80, 20);
        @include adaptiveValue("padding-right", 80, 20);
    }

    // .banner__bg
    &__bg {
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .banner__text
    &__text {
        text-align: right;
        color: $White;
        max-width: rem(371);
        margin-left: auto;
        position: relative;

        h1,
        h2 {
            @include adaptiveValue("font-size", 110, 58);
            line-height: math.div(121, 110);
            text-transform: uppercase;

            &:not(:last-child) {
                margin-bottom: 0;
            }

            & + p {
                margin-top: 0;
            }
        }
        p {
            @include adaptiveValue("font-size", 24, 16);
            line-height: math.div(29, 24);
            max-width: rem(267);
            margin-left: auto;
        }
    }
}

// .showcase ====================================================================================================
.showcase {
    // .showcase__container
    &__container {
        display: grid;
        @include adaptiveValue("row-gap", 40, 32);
    }

    // .showcase__slider
    &__slider {
    }

    // .showcase__heading
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 32);
        }
    }

    // .showcase__title
    &__title {
    }

    // .showcase__wrapper
    &__wrapper {
    }

    // .showcase__slide
    &__slide {
    }

    // .showcase__link
    &__link {
        width: 100%;

        &:not(:first-child) {
        }
    }
}

.product-card {
    // .product-card__wrapper
    &__wrapper {
        display: grid;
        row-gap: rem(16);
    }

    // .product-card__thumb
    &__thumb {
        position: relative;
        padding-bottom: percent(400, 280);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .product-card__body
    &__body {
        display: grid;
        row-gap: rem(4);
        @include adaptiveValue("font-size", 14, 12);
        line-height: math.div(20, 14);
    }

    // .product-card__name
    &__name {
        color: rgba($color: $Blue, $alpha: 0.5);
    }

    // .product-card__price
    &__price {
        .price__old {
            @include adaptiveValue("font-size", 12, 10);
        }
    }
}
a.product-card {
    @media (any-hover: hover) {
        .product-card__thumb {
            overflow: hidden;

            img {
                transform: scale(1) translateY(0);
                transform-origin: 50% 84%;
                transition: 5s ease all 0s;
            }
        }

        &:hover {
            .product-card__thumb {
                img {
                    transform: scale(1.25) translateY(15px);
                    transform-origin: bottom;
                    opacity: 0.6;
                    transition: 5s ease all 0s;
                }
            }
        }
    }
}

// .template1 ====================================================================================================
.template1 {
    // .template1__container
    &__container {
        @media (max-width: $mobile) {
            padding-left: 0;
            padding-right: 0;
        }
    }

    // .template1__wrapper
    &__wrapper {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        @include adaptiveValue("padding-top", 70, 40);
        @include adaptiveValue("padding-bottom", 70, 40);
        @include adaptiveValue("padding-left", 100, 15);
        @include adaptiveValue("padding-right", 100, 15);
        color: $White;
        @include adaptiveValue("min-height", 573, 470);
        display: grid;
        align-items: center;
        row-gap: rem(40);

        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "title title"
                "text button";
            align-content: space-between;
            justify-content: space-between;
        }
    }

    // .template1__title
    &__title {
        @media (min-width: $mobile) {
            grid-area: title;
        }
    }

    // .template1__text
    &__text {
        @media (min-width: $mobile) {
            grid-area: text;
        }

        p {
            margin: rem(20) 0;

            &:first-child {
                @extend %firstletter;
            }
        }
    }

    // .template1__btn
    &__btn {
        @media (min-width: $mobile) {
            grid-area: button;
            align-self: flex-end;
            justify-self: flex-end;
        }

        .btn {
            min-width: rem(180);
        }
    }
}

// .template2 ====================================================================================================
.template2 {
    // .template2__container
    &__container {
    }

    // .template2__title
    &__title {
        &:not(:last-child) {
            margin-bottom: rem(32);
        }
    }

    // .template2__row
    &__row {
        display: grid;
        @include adaptiveValue("row-gap", 64, 24, 1280, 992, 1);

        @media (min-width: $mobile) {
            grid-template-columns: percent(581, 1180) 1fr;
            @include adaptiveValue("column-gap", 120, 24, 1280, 992, 1);
        }
    }

    // .template2__column
    &__column {
        display: grid;
        align-content: flex-end;
        @include adaptiveValue("row-gap", 64, 24, 1280, 992, 1);
    }

    // .template2__left
    &__left {
        .template2__image {
            padding-bottom: percent(341, 581);

            @media (max-width: $mobile) {
                grid-row: 1/2;
            }
        }
    }

    // .template2__text
    &__text {
        @media (min-width: $mobile) {
            padding-top: rem(40);
            max-width: rem(381);
            margin-left: auto;
        }
    }

    // .template2__image
    &__image {
        position: relative;

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .template2__right
    &__right {
        .template2__image {
            padding-bottom: percent(507, 480);

            @media (max-width: $mobile) {
                display: none;
            }
        }
    }

    // .template2__btn
    &__btn {
    }
}
