// .archive-product ====================================================================================================
.catalog {
    &:first-child {
        @include adaptiveValue("padding-top", 56, 24);
    }

    // .catalog__container
    &__container {
        display: grid;
        @include adaptiveValue("row-gap", 72, 32);
    }

    // .catalog__row
    &__row {
        display: grid;

        @media (min-width: $mobile) {
            grid-template-columns: rem(200) 1fr;
            @include adaptiveValue("column-gap", 100, 20, 1280, 992, 1);
        }
    }

    // .catalog__left
    &__left {
    }

    // .catalog__right
    &__right {
    }

    // .catalog__breadcrumbs
    &__breadcrumbs {
        align-self: flex-end;

        @media (max-width: $mobile) {
            @include adaptiveValue("margin-bottom", 26, 18, 768, 320, 1);
        }
    }

    // .catalog__heading
    &__heading {
        @media (min-width: $mobile) {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
        }
        @media (max-width: $mobile) {
            display: grid;
            grid-template-areas:
                "title title"
                "sorting filter"
                "filter-selected filter-selected";
            row-gap: rem(16);
            column-gap: rem(10);
        }
    }

    // .catalog__title
    &__title {
        line-height: 1;

        @media (max-width: $mobile) {
            grid-area: title;

            &:not(:last-child) {
                margin-bottom: rem(8);
            }
        }

        span {
            display: inline-block;

            &:first-child {
                @include adaptiveValue("font-size", 60, 24);
                text-transform: uppercase;
            }
            &:last-child {
                font-weight: 400;
                @include adaptiveValue("font-size", 14, 12);
                line-height: math.div(17, 12);
                color: $Grey;
            }
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 24, 8);
            }
        }
    }

    // .catalog__sorting
    &__sorting {
        @media (max-width: $mobile) {
            grid-area: sorting;
        }

        .select {
            @media (any-hover: hover) {
                &:hover {
                    .select__title {
                        border-color: $Grey;
                    }
                }
            }

            &._select-open {
                .select__title {
                    border-color: $Grey;
                }
            }

            // .select__body
            &__body {
                @include adaptiveValue("font-size", 14, 12);
            }

            // .select__title
            &__title {
                transition: $transition ease border-color 0s;

                @media (min-width: $mobile) {
                    border-color: transparent;
                }
            }

            // .select__value
            &__value {
                font-weight: 500;
                height: rem(30);
                gap: rem(8);

                @media (max-width: $mobile) {
                    height: rem(34);
                    padding-left: rem(12);
                    padding-right: rem(12);
                }
            }

            // .select__content
            &__content {
            }

            // .select__options
            &__options {
                top: rem(29);

                @media (max-width: $mobile) {
                    top: rem(33);
                    padding-top: rem(5);
                }
            }

            // .select__option
            &__option {
                padding: rem(5) rem(18);
            }
        }
    }

    // .catalog__sidebar
    &__sidebar {
        @media (max-width: $mobile) {
            position: fixed;
            z-index: 55;
            top: -150%;
            left: 0;
            right: 0;
            background: $White;
            height: 100%;
            min-height: 100vh;
            overflow-y: auto;
            @include adaptiveValue("padding-top", 90, 84);
            padding: 0 rem(math.div($containerPadding, 2)) rem(40);
            display: grid;
            align-items: flex-start;
            align-content: flex-start;
            transition: 0.5s ease top 0s;

            &::before {
                content: "";
                position: fixed;
                top: -150%;
                left: 0;
                right: 0;
                height: rem(50);
                background-color: $White;
                z-index: 56;
                transition: 0.5s ease top 0s;
            }

            &._active {
                top: 0;

                &::before {
                    top: 0;
                }

                .filter__close {
                    top: rem(8);
                }
            }
        }
    }

    // .catalog__filter
    &__filter {
        @media (min-width: $mobile) {
            position: sticky;
            top: rem(120);
        }
    }

    // .catalog__body
    &__body {
        @media (min-width: $mobile) {
            min-height: rem(650);
        }
    }

    // .catalog__list
    &__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: rem(32) rem(20);

        @media (min-width: $tablet) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (max-width: $mobileM) {
            gap: rem(24) rem(15);
        }
    }

    // .catalog__btn
    &__btn {
        display: flex;

        &:not(:first-child) {
            @include adaptiveValue("margin-top", 64, 32);
        }
    }

    // .catalog__filter-btn
    &__filter-btn {
        @media (min-width: $mobile) {
            display: none;
        }
        @media (max-width: $mobile) {
            display: flex;
            /*          justify-content: space-between;
            flex-direction: row-reverse;
            column-gap: rem(10); */
            font-weight: 500;
            @include adaptiveValue("font-size", 14, 12);
            justify-content: flex-start;
            text-align: left;
            line-height: math.div(17, 12);
            height: rem(36);
            min-height: auto;
            padding: rem(5) rem(12);
            border: 1px solid $Grey;
            border-radius: rem(4);
            grid-area: filter;
            position: relative;

            &::after {
                content: attr(data-value);
                font-size: rem(10);
                line-height: 1;
                color: $White;
                text-align: left;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                width: rem(15);
                height: rem(15);
                border-radius: 50%;
                background-color: $Red;
                margin-left: rem(4);
            }
            &::before {
                position: absolute;
                right: rem(11);
                @include adaptiveValue("font-size", 16, 14);
            }
        }
    }
}

.product-card {
    @media (any-hover: hover) {
        &:hover {
            .product-card__remove {
                opacity: 1;
            }
        }
    }

    // .product-card__wrapper
    &__wrapper {
        display: grid;
        row-gap: rem(16);
    }

    // .product-card__thumb
    &__thumb {
        position: relative;
        padding-bottom: percent(400, 280);

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    // .product-card__remove
    &__remove {
        position: absolute;
        top: rem(5);
        right: rem(5);
        z-index: 2;
        font-size: rem(28);
        padding: rem(5);
        outline: none;
        transition: $transition ease opacity 0s;

        @media (any-hover: hover) {
            opacity: 0;

            &:hover {
                animation: shake-bottom 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
            }
        }
    }

    // .product-card__body
    &__body {
        display: grid;
        row-gap: rem(4);
        @include adaptiveValue("font-size", 14, 12);
        line-height: math.div(20, 14);
    }

    // .product-card__name
    &__name {
        color: rgba($color: $Blue, $alpha: 0.5);
    }

    // .product-card__price
    &__price {
        .price__old {
            @include adaptiveValue("font-size", 12, 10);
        }
    }
}
a.product-card {
    @media (any-hover: hover) {
        .product-card__thumb {
            overflow: hidden;

            img {
                transform: scale(1) translateY(0);
                transform-origin: 50% 84%;
                transition: 5s ease all 0s;
            }
        }

        &:hover {
            .product-card__thumb {
                img {
                    transform: scale(1.25) translateY(15px);
                    transform-origin: bottom;
                    opacity: 0.6;
                    transition: 5s ease all 0s;
                }
            }
        }
    }
}

.filter {
    // .filter__close
    &__close {
        background-color: $White;
        position: fixed;
        z-index: 56;
        top: -150%;
        right: rem(5);
        font-size: rem(36);
        transform: rotate(45deg);
        transition: 0.5s ease top 0s;
    }

    // .filter__wrapper
    &__wrapper {
        display: grid;
        align-content: flex-start;
    }

    // .filter__caption
    &__caption {
        font-weight: 700;
        @include adaptiveValue("font-size", 24, 18);
        line-height: math.div(35, 24);
        text-transform: uppercase;

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 40, 24);
        }
    }

    // .filter__items
    &__items {
        display: grid;
        align-content: flex-start;
        row-gap: rem(20);
        overflow-y: auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            height: 0;
            width: 0;
        }

        &:not(:last-child) {
            @include adaptiveValue("margin-bottom", 32, 16);
        }
    }

    // .filter__item
    &__item {
    }

    // .filter__list
    &__list {
        display: grid;
        align-content: flex-start;
        row-gap: rem(24);

        @media (max-width: $mobile) {
            display: flex;
            border-bottom: 1px solid $Grey;
            overflow-y: hidden;
            overflow-x: auto;
            scrollbar-width: thin;

            &::-webkit-scrollbar {
                width: 0;
                height: 0;
            }

            & > * {
                &:not(:last-child) {
                    margin-right: rem(24);
                }
            }
        }
    }

    // .filter__list-item
    &__list-item {
        @media (max-width: $mobile) {
            padding-bottom: rem(18);
        }

        a {
            font-weight: 600;
            font-size: rem(12);
            line-height: math.div(14, 12);
            color: $Grey;
            letter-spacing: em(1.2, 12);
            text-transform: uppercase;

            @media (max-width: $mobile) {
                white-space: nowrap;
            }

            @media (any-hover: hover) {
                transition: $transition ease opacity 0s;

                &:hover {
                    opacity: 0.6;
                }
            }
        }

        &._active {
            a {
                color: $mainColor;
            }

            @media (max-width: $mobile) {
                border-bottom: 2px solid $mainColor;
            }
        }
    }

    // .filter__buttons
    &__buttons {
        display: grid;
        row-gap: rem(8);
    }

    // .filter__button
    &__button {
    }
}

.item-filter {
    // .item-filter__caption
    &__caption {
        padding: rem(8) 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        font-weight: 600;
        font-size: rem(12);
        line-height: math.div(14, 12);
        letter-spacing: em(1.2, 12);
        text-transform: uppercase;
        position: relative;

        &::after {
            content: "\e90e";
            @extend %ic;
            font-size: rem(18);
            transition: $transition ease transform 0s;
        }

        &._spoller-active {
            &::after {
                content: "\e919";
                transform: rotate(180deg);
            }
        }
    }

    // .item-filter__body
    &__body {
        margin-top: rem(15);
        font-weight: 500;
        font-size: rem(14);
        line-height: math.div(17, 14);
        color: $Grey;

        .options {
            // .options__item
            &__item {
                border-top: 1px solid #d9dfe5;

                &:last-child {
                    border-bottom: 1px solid #d9dfe5;
                }
                &:not(:last-child) {
                    margin-bottom: 0;
                }
            }

            // .options__input
            &__input {
            }

            // .options__label
            &__label {
                padding: rem(16) 0;
                display: flex;

                &::before,
                &::after {
                    position: absolute;
                }
                &::before {
                    right: 0;
                    top: calc(50% - rem(8));
                }
                &::after {
                    top: calc(50% - rem(5));
                    right: rem(3);
                    left: initial;
                }
            }
        }

        .checkbox {
            border-top: 1px solid #d9dfe5;

            &:last-child {
                border-bottom: 1px solid #d9dfe5;
            }
            &:not(:last-child) {
                margin-bottom: 0;
            }

            // .checkbox__label
            &__label {
                padding: rem(16) 0;
                gap: 0;

                ._filter-color-box {
                    &:not(:last-child) {
                        margin-right: rem(8);
                    }
                }

                &::before,
                &::after {
                    position: absolute;
                    border-radius: rem(4);
                }
                &::before {
                    right: 0;
                    top: calc(50% - rem(8));
                }
                &::after {
                    top: calc(50% - rem(7));
                    right: rem(5);
                    left: initial;
                }
            }

            // .checkbox__text
            &__text {
            }
        }
    }
}

._filter-color-box {
    display: block;
    width: rem(16);
    height: rem(16);
    flex: 0 0 rem(16);
    border: 1px solid transparent;
}

.filter-selected {
    @media (min-width: $mobile) {
        display: none;
    }

    @media (max-width: $mobile) {
        grid-area: filter-selected;
        display: flex;
        flex-wrap: wrap;
        margin: rem(-4);

        // .filter-selected__item
        &__item {
            padding: rem(4);
        }

        // .filter-selected__item-wrapper
        &__item-wrapper {
            padding: rem(4) rem(8);
            display: flex;
            align-items: center;
            background-color: #f4f7f9;
            border-radius: rem(40);
            font-weight: 500;
            font-size: rem(12);
            line-height: math.div(12, 10);
            color: $mainColor;

            span {
                margin-right: rem(4);
            }
        }
    }
}

// .single-product ====================================================================================================
.product {
    .breadcrumbs {
        @include adaptiveValue("margin-bottom", 40, 18);
    }

    // .product__container
    &__container {
    }

    // .product__main
    &__main {
        display: grid;
        row-gap: rem(36);
        @include adaptiveValue("margin-bottom", 90, 64);

        @media (min-width: $mobile) {
            grid-template-columns: 1fr rem(380);
            column-gap: rem(20);
        }
    }

    // .product__description
    &__description {
    }
}

.product-main {
    // .product-main__gallery
    &__gallery {
        min-width: 0;
    }

    // .product-main__body
    &__body {
    }

    // .product-main__wrapper
    &__wrapper {
        display: grid;
        align-content: flex-start;
        @include adaptiveValue("row-gap", 40, 32);
        position: sticky;
        top: rem(150);
    }

    // .product-main__heading
    &__heading {
        display: grid;
        row-gap: rem(8);
    }

    // .product-main__title
    &__title {
        @include adaptiveValue("font-size", 30, 22);
        line-height: math.div(38, 30);
    }

    // .product-main__price
    &__price {
    }

    // .product-main__size
    &__size {
    }

    // .product-main__caption
    &__caption {
        font-weight: 600;
        @include adaptiveValue("font-size", 14, 12);
    }

    // .product-main__color
    &__color {
        min-width: rem(0);
    }

    // .product-main__actions
    &__actions {
        display: grid;
        @include adaptiveValue("row-gap", 16, 12);

        .btn {
            width: 100%;
        }
    }

    // .product-main__submit
    &__submit {
    }

    // .product-main__favorite
    &__favorite {
    }

    // .product-main__delivery
    &__delivery {
        display: grid;
        @include adaptiveValue("row-gap", 24, 16);
    }
}

.gallery-product {
    display: grid;
    row-gap: rem(10);

    // .gallery-product__slider
    &__slider {
        @media (min-width: $tablet) {
            .swiper-lazy-preloader {
                display: none;
            }
        }
    }

    // .gallery-product__wrapper
    &__wrapper {
        @media (min-width: $tablet) {
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
            gap: rem(20);
        }
    }

    // .gallery-product__slide
    &__slide {
        display: block;
        position: relative;
        padding-bottom: percent(280, 280);

        @media (min-width: $tablet) {
            padding-bottom: percent(270, 180);
            &:nth-child(1) {
                grid-row: 1/3;
                grid-column: 1/3;
            }
            &:nth-child(2) {
                grid-row: 1/3;
                grid-column: 3/5;
            }
        }
        @media (min-width: $mobile) and (max-width: $tablet) {
            padding-bottom: 120%;
        }

        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    a.gallery-product__slide {
        @media (any-hover: hover) {
            overflow: hidden;

            img {
                transform: scale(1) translateY(0);
                transform-origin: 50% 84%;
                transition: 2s ease all 0s;
            }

            &:hover {
                img {
                    transform: scale(1.05) translateY(15px);
                    transform-origin: bottom;
                    opacity: 0.6;
                    transition: 2s ease all 0s;
                }
            }
        }
    }

    // .gallery-product__thumbs
    &__thumbs {
        @media (min-width: $tablet) {
            display: none;
        }
    }

    // .gallery-product__thumb
    &__thumb {
        @media (max-width: $tablet) {
            opacity: 0.7;
            transition: $transition ease opacity 0s;
            position: relative;
            @include adaptiveValue("padding-bottom", 190, 74);

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &.swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }
}

.product-size {
    // .product-size__heading
    &__heading {
        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: rem(10);

        &:not(:last-child) {
            margin-bottom: rem(16);
        }
    }

    // .product-size__btn
    &__btn {
        padding: rem(8) rem(16);
        min-height: rem(30);
        font-size: rem(12);
        line-height: math.div(14, 12);
    }

    // .product-size__select
    &__select {
        .select {
            &._select-open {
                .select__title {
                    border-color: $Grey;
                }
            }

            // .select__body
            &__body {
            }

            // .select__title
            &__title {
                border-color: #f6f6f6;
                background-color: #f6f6f6;
                transition: $transition ease border-color 0s;
            }

            // .select__value
            &__value {
                font-weight: 500;
                color: #000;
            }

            // .select__content
            &__content {
            }

            // .select__options
            &__options {
                background-color: #f6f6f6;
                transition: $transition ease border-color 0s;
            }

            // .select__option
            &__option {
            }
        }
    }
}

.product-color {
    display: grid;
    row-gap: rem(24);
    min-width: rem(0);

    // .product-color__slider-outer
    &__slider-outer {
        display: flex;
        align-items: center;
        column-gap: rem(15);
        min-width: rem(0);

        .swiper__button {
            font-size: rem(24);
            color: $mainColor;
            padding: 0;

            &-prev {
                transform: rotate(90deg);

                @media (any-hover: hover) {
                    &:hover {
                        transform: rotate(90deg);
                    }
                }
            }
            &-next {
                transform: rotate(-90deg);

                @media (any-hover: hover) {
                    &:hover {
                        transform: rotate(-90deg);
                    }
                }
            }
        }
    }

    // .product-color__slider
    &__slider {
        width: 100%;
        min-width: rem(0);
    }

    // .product-color__wrapper
    &__wrapper {
    }

    // .product-color__slide
    &__slide {
        display: block;
        border-radius: rem(3);
        opacity: 0.3;
        position: relative;
        transition: $transition ease opacity 0s;
        padding-bottom: rem(54);
        img {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &.swiper-slide-active {
            opacity: 1;
        }

        @media (any-hover: hover) {
            &:hover {
                opacity: 1;
            }
        }
    }
}

.product-delivery {
    background-color: #eff0f2;
    @include adaptiveValue("padding", 24, 20);
    display: grid;
    grid-template-areas:
        "dates logo"
        "descr logo";
    gap: rem(8);
    align-content: center;
    justify-content: space-between;

    // .product-delivery__dates
    &__dates {
        grid-area: dates;
        font-weight: 600;
        @include adaptiveValue("font-size", 18, 16);
        line-height: math.div(22, 18);
    }

    // .product-delivery__descr
    &__descr {
        grid-area: descr;
        font-size: rem(14);
        line-height: math.div(17, 14);

        span {
            display: inline-block;
            border-bottom: 1px dashed $mainColor;
        }
    }

    // .product-delivery__logo
    &__logo {
        grid-area: logo;
    }
}

.product-body {
    // .product-body__tabs
    &__tabs {
        .tabs {
            // .tabs__navigation
            &__navigation {
            }
            // .tabs__title
            &__title {
            }
            // .tabs__content
            &__content {
            }
            // .tabs__body
            &__body {
                @include adaptiveValue("padding-top", 48, 24);
            }
        }
    }

    // .product-body__row
    &__row {
        display: grid;
        row-gap: rem(24);

        @media (min-width: $mobileM) {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    // .product-body__wrapper
    &__wrapper {
        flex: 1;
        display: grid;
        align-content: flex-start;
        row-gap: rem(24);
        @include adaptiveValue("column-gap", 54, 16);

        @media (min-width: $mobile) {
            grid-template-columns: 1fr 1fr;
        }
    }

    // .product-body__text
    &__text {
        flex: 1;
        display: grid;
        align-content: flex-start;
        max-width: rem(540);
        line-height: math.div(26, 16);

        .table {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 80, 32);
            }
        }
    }

    // .product-body__tags
    &__tags {
        display: grid;
        @include adaptiveValue("row-gap", 32, 12);
        align-content: flex-start;
    }

    // .product-body__tag
    &__tag {
        .product-body__caption {
            &:not(:last-child) {
                @include adaptiveValue("margin-bottom", 8, 4);
            }
        }
    }

    // .product-body__caption
    &__caption {
        color: rgba($color: $mainColor, $alpha: 0.5);
    }

    // .product-body__image
    &__image {
        @media (min-width: $mobileM) {
            flex: 0 0 rem(280);

            &:not(:first-child) {
                @include adaptiveValue("margin-left", 154, 20, 1440, 992, 1);
            }
        }
        @media (max-width: $mobileM) {
            position: relative;
            padding-bottom: percent(187, 280);
            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}
