.checkbox {
	position: relative;

	&:not(:last-child) {
		margin-bottom: em(5);
	}
	// .checkbox__input
	&__input {
		position: absolute;
		width: 0;
		height: 0;
		opacity: 0;

		&:checked {
			& + .checkbox__label {
				color: $mainColor;

				&::before {
					border-color: $mainColor;
					background-color: $mainColor;
				}
			}
		}
	}

	// .checkbox__label
	&__label {
		cursor: pointer;
		display: flex;
		align-items: center;
		position: relative;
		gap: rem(8);
		transition: $transition ease color 0s;

		&::before,
		&::after {
			border-radius: rem(4);
		}
		&::before {
			content: "";
			flex: 0 0 rem(16);
			width: rem(16);
			height: rem(16);
			border: 1px solid $Grey;
			background-color: $White;
			transition: $transition ease border-color, $transition background-color 0s;
		}
		&::after {
			content: "\e911";
			@extend %ic;
			flex: 0 0 rem(10);
			width: rem(10);
			height: rem(10);
			top: calc(50% - rem(7));
			font-size: rem(14);
			color: $White;
		}
	}

	// .checkbox__text
	&__text {
	}
}
