//<INPUT>
// Снипет (HTML): inp
input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.form__input-wrapper {
	position: relative;

	&._address {
		&::after {
			@extend %ic;
			content: "\e903";
			font-size: rem(20);
			position: absolute;
			right: rem(15);
			top: 50%;
			transform: translateY(-50%);
		}

		input {
			padding-right: rem(40);
		}
	}

	&._password {
		input {
			padding-right: rem(50);
		}

		button {
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			padding: rem(0) rem(16);
			font-size: rem(18);

			@media (any-hover: hover) {
				transition: $transition ease opacity 0s;

				&:hover {
					opacity: 0.6;
				}
			}

			&._viewpass-active {
				&::before {
					content: "\e907";
				}
			}
		}

		& + .checkbox {
			margin-top: rem(16);
		}
	}
}

.form__input {
	border-radius: rem(4) !important;
	width: 100%;
	display: block;
	padding: rem(12) rem(16);
	@include adaptiveValue("min-height", 50, 47);
	border: 1px solid $Grey;
	background-color: transparent;
	transition: $transition ease border-color 0s;

	&::placeholder {
		transition: $transition ease opacity 0s;
	}

	&:focus {
		border-color: $mainColor;
		outline: 0;

		&::placeholder {
			opacity: 0;
		}
	}
}

textarea.form__input {
	resize: none;
}
