.switch {
    position: relative;
    display: inline-block;
    flex: 0 0 rem(60);
    width: rem(60);
    height: rem(32);

    // .switch__input
    &__input {
        opacity: 0;
        width: 0;
        height: 0;

        &:checked + .switch__slider {
            background-color: #0b2949;

            &::before {
                transform: translateX(28px);
            }
        }
    }

    // .switch__slider
    &__slider {
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #e7ebef;
        border-radius: rem(40);
        box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.09);
        transition: $transition ease background-color 0s;

        &::before {
            content: "";
            position: absolute;
            height: rem(28);
            width: rem(28);
            left: rem(2);
            bottom: rem(2);
            background-color: white;
            border-radius: 50%;
            box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.09);
            transition: $transition ease transform 0s;
        }
    }
}
