// Заголовки, общие БЄМ блоки и проче...
h {
    &1 {
        font-weight: 700;
        @include adaptiveValue("font-size", 50, 24);
        line-height: math.div(72, 50);
    }
    &2 {
        font-weight: 700;
        @include adaptiveValue("font-size", 50, 24);
        line-height: math.div(72, 50);
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

._green {
    color: green;
}

._content {
    h1,
    h2,
    h3,
    h4 {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    p {
        margin: rem(16) 0;
    }

    ol,
    ul {
        display: grid;
        gap: rem(16);
        margin: rem(24) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            @include adaptiveValue("padding-left", 40, 24);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }
    }

    ul {
        li {
            position: relative;
            @include adaptiveValue("padding-left", 38, 30);
            padding-left: rem(38);

            &::before {
                content: "\e91c";
                @extend %ic;
                position: absolute;
                left: 0;
                top: rem(2);
                font-size: rem(24);
            }
        }
    }

    a {
    }

    .table {
        width: 100%;
        overflow-x: auto;
        scrollbar-width: thin;

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                @include adaptiveValue("min-width", 145, 98, 1440, 768, 1);
                vertical-align: baseline;

                &:not(:first-child) {
                    @include adaptiveValue("padding-left", 55, 8, 1440, 768, 1);
                    text-align: center;
                }
                &:first-child {
                    min-width: rem(90);
                }
            }

            th {
                padding-bottom: rem(16);
                border-bottom: 1px solid $Line;
                font-weight: 400;
                @include adaptiveValue("font-size", 14, 12);
                line-height: math.div(22, 14);
                text-align: left;
                color: $Grey;
            }

            td {
                padding-top: rem(16);
                padding-bottom: rem(16);
                @include adaptiveValue("font-size", 16, 14);
                line-height: math.div(24, 18);
                border-bottom: 1px solid $Line;
            }
        }
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

.price {
    font-weight: 600;

    // .price__old
    &__old {
        font-weight: 500;
        text-decoration: line-through;
        color: $Red;
    }

    // .price__new
    &__new {
    }
}

section {
    padding-top: rem(20);
    @include adaptiveValue("margin-bottom", 70, 44);

    &:not(:first-child) {
        padding-top: rem(30);
    }
    &:last-child {
        @include adaptiveValue("margin-bottom", 100, 50);
    }
}

.breadcrumbs {
    // .breadcrumbs__wrapper
    &__wrapper {
        font-weight: 500;
        @include adaptiveValue("font-size", 14, 12);

        & > * {
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 24, 8);
            }
        }
    }

    // .breadcrumbs__link
    &__link {
        display: inline-flex;
        a {
            @extend %linkDecorationHover;
        }
    }

    // .breadcrumbs__separator
    &__separator {
    }

    // .breadcrumbs__title
    &__title {
        color: $Grey;
    }
}

// Анимации
@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}

// swiper
.swiper {
    // .swiper__arrows
    &__arrows {
        display: flex;
        align-items: center;
    }

    // .swiper__button
    &__button {
        @include adaptiveValue("font-size", 24, 18);
        color: $Grey;
        @include adaptiveValue("padding", 10, 8);

        &:not(.swiper-button-disabled) {
            cursor: pointer;

            @media (any-hover: hover) {
                transition: $transition ease transform, $transition opacity 0s;

                &:hover {
                    opacity: 0.7;
                    transform: translateY(rem(2));
                }
            }
        }
    }
    // .swiper__button-prev
    &__button-prev {
    }
    // .swiper__button-next
    &__button-next {
    }
}
