// Заголовки, общие БЄМ блоки и проче...
h {
    &1 {
        font-weight: 700;
        @include adaptiveValue("font-size", 50, 24);
        line-height: math.div(72, 50);
    }
    &2 {
        font-weight: 700;
        @include adaptiveValue("font-size", 50, 24);
        line-height: math.div(72, 50);
    }
}

img,
video {
    display: block;
    max-width: 100%;
    height: auto;
}

._content {
    @include adaptiveValue("font-size", 18, 14);
    line-height: math.div(24, 16);

    h1,
    h2,
    h3,
    h4 {
        &:not(:last-child) {
            margin-bottom: rem(24);
        }
    }

    p {
        line-height: math.div(25, 18);
        margin: rem(16) 0;
    }

    ol,
    ul {
        display: grid;
        gap: rem(16);
        margin: rem(24) 0;
    }

    ol {
        counter-reset: item;

        li {
            position: relative;
            @include adaptiveValue("padding-left", 40, 24);
            list-style-type: none;

            &::before {
                content: counter(item) ".";
                counter-increment: item;
                position: absolute;
                left: 0;
            }

            & > ol {
                counter-reset: subitem;

                li {
                    &::before {
                        content: counter(item) "." counters(subitem, ".") " ";
                        counter-increment: subitem;
                    }
                }
            }
        }
    }

    ul {
        li {
            position: relative;
            @include adaptiveValue("padding-left", 38, 30);
            padding-left: rem(38);

            &::before {
                content: "\e91c";
                @extend %ic;
                position: absolute;
                left: 0;
                top: rem(2);
                font-size: rem(24);
            }
        }
    }

    a {
    }

    .wp-block-table {
        overflow-x: auto;
        scrollbar-width: thin;

        &::-webkit-scrollbar {
            height: rem(5);
        }
        &::-webkit-scrollbar-track {
            background-color: $scrollThumb;
            border-radius: rem(5);
        }
        &::-webkit-scrollbar-thumb {
            border-radius: rem(5);
            background-color: $scrollTrack;
        }

        table {
            width: 100%;
            border-collapse: collapse;

            th,
            td {
                min-width: rem(120);
                color: #171a22;
                vertical-align: baseline;

                &:not(:last-child) {
                    padding-right: rem(8);
                }
                &:not(:first-child) {
                    padding-left: rem(8);
                }
            }

            th {
                padding-bottom: rem(16);
                border-bottom: 1px solid $Grey;
                font-weight: 500;
                @include adaptiveValue("font-size", 20, 14);
                line-height: math.div(28, 20);
                text-align: left;
            }

            td {
                padding-top: rem(16);
                padding-bottom: rem(16);
                @include adaptiveValue("font-size", 18, 14);
                line-height: math.div(24, 18);
            }

            tr {
                &:last-child {
                    td {
                        padding-bottom: 0;
                    }
                }
            }
        }
    }

    .wp-block-separator {
        border-bottom: 1px solid #b9bdc6;
        @include adaptiveValue("margin-top", 48, 32);
        @include adaptiveValue("margin-bottom", 48, 32);
    }

    :first-child {
        margin-top: 0;
    }
    :last-child {
        margin-bottom: 0;
    }
}

.price {
    font-weight: 600;

    // .price__old
    &__old {
        font-weight: 500;
        text-decoration: line-through;
    }

    // .price__new
    &__new {
    }
}

section {
    padding-top: rem(20);
    @include adaptiveValue("margin-bottom", 70, 44);

    &:not(:first-child) {
        padding-top: rem(30);
    }
    &:last-child {
        @include adaptiveValue("margin-bottom", 100, 50);
    }
}

.breadcrumbs {
    // .breadcrumbs__wrapper
    &__wrapper {
        font-weight: 500;
        @include adaptiveValue("font-size", 14, 12);

        & > * {
            &:not(:last-child) {
                @include adaptiveValue("margin-right", 24, 8);
            }
        }
    }

    // .breadcrumbs__link
    &__link {
        display: inline-flex;
        a {
            @extend %linkDecorationHover;
        }
    }

    // .breadcrumbs__separator
    &__separator {
    }

    // .breadcrumbs__title
    &__title {
        color: $Grey;
    }
}

// Анимации
@keyframes shake-bottom {
    0%,
    100% {
        transform: rotate(0deg);
        transform-origin: 50% 100%;
    }
    10% {
        transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
        transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
        transform: rotate(4deg);
    }
    80% {
        transform: rotate(-2deg);
    }
    90% {
        transform: rotate(2deg);
    }
}

// swiper
.swiper {
    // .swiper__arrows
    &__arrows {
        display: flex;
        align-items: center;
    }

    // .swiper__button
    &__button {
        @include adaptiveValue("font-size", 24, 18);
        color: $Grey;
        @include adaptiveValue("padding", 10, 8);

        &:not(.swiper-button-disabled) {
            cursor: pointer;

            @media (any-hover: hover) {
                transition: $transition ease transform, $transition opacity 0s;

                &:hover {
                    opacity: 0.7;
                    transform: translateY(rem(2));
                }
            }
        }
    }
    // .swiper__button-prev
    &__button-prev {
    }
    // .swiper__button-next
    &__button-next {
    }
}
